<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/sidebar_style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

</head>
<body>


<div id="mysidebar" class="col-sm-2">
    <div class="nav-side-menu ">
        <div class="brand">Brand Logo</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li>
                    <a href="#" id="dashboard">
                        <i class="fa fa-dashboard fa-lg"></i> Dashboard
                    </a>
                </li>


                <li>
                    <a href="./devices" id="devices" target="myframe">
                        <i class="fa fa-address-book fa-lg"></i> Devices
                    </a>
                </li>

                <li data-toggle="collapse" data-target="#products" class="collapsed">
                <li data-toggle="collapse" data-target="#products" class="collapsed">
                    <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>

                <li>
                    <a href="logout">
                        <i class="fa fa-users fa-lg"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--- <img src="img_car.jpg" alt="Car" style="width:100%"> -->

<!-- <a href="#mysidebar" class="col-xs-1" data-toggle="collapse">Menu</a> -->

<!--<div id="subpage" class="col-sm-5">
</div>
-->

<iframe name="myframe" class="col-sm-6" style="width:900px;height:600px;margin:10px">

</iframe>


<script>
    $(document).ready(function () {
        $("#dashboard").on("click", function () {
            $("#subpage").load("./dashboard");
        });

        $("#devices").on("click", function () {
            $("#subpage").load("./devices");
        });

    });
</script>

</body>

