<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Virtual Device Manager (VDM)</title>

    <title>Bootstrap Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <link rel="stylesheet" href="./static/style.css">

</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl" class="form-inline">
    <label for="some">Search:</label>

    <select ng-init="name = options[0]" ng-model="MySelectionList" ng-options="x for x in params"
            value="Choose"></select>

    <select ng-model="EquationList" ng-options="x for x in equations" value="Choose"></select>

    <div class="form-group">
        <input class="form-control" id="focusedInput" type="text">
    </div>

    <a href="#"><span class="glyphicon glyphicon-plus"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" class="btn btn-primary" value="fghgf"></input>
</div>

</select>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.params = ["cpeid", "ip", "lastcall"];
        $scope.equations = ["=", "<", ">"];
    });

</script>



