{% extends 'dash_base_template.html' %}
{% block header_content %}

<script type="text/javascript">
    var client_name_from_flask = '{{ device_info_to_render.client_name }}'
</script>

<script src="/static/js/chart1.js"></script>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>

<!-- The scripts for websocket (socketio) -->
<!-- <script src="/static/js/websocket_updates.js"></script> -->

<!-- <script src="/static/js/cli.js"></script> -->

{% endblock %}

{% block page_content %}

<p></p>

<div class="container-fluid">

    <div class="row">

        <!-- first column on page-->
        <div class="col-md-6 p-1 bg-light">
            <div class="col-md-10">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr style="background-color: #0074e4; color: white;">
                            <th>
                                Parameter
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="table-success">
                            <td>
                                Client name
                            </td>
                            <td>
                                <p id="client_name">{{device_info_to_render.client_name}}</p>
                            </td>
                        </tr>


                        <tr class="table-success">
                            <td>
                                User name
                            </td>
                            <td>
                                <p id="user_name">{{device_info_to_render.user_name}}</p>
                            </td>
                        </tr>                        

                        <tr class="table-success">
                            <td>
                                Access token
                            </td>
                            <td>
                                <p id="device_token">{{device_info_to_render.device_token}}</p>
                            </td>
                        </tr>
                        <tr class="table-success">
                            <td>
                                Registered on
                            </td>
                            <td>
                                <p id="ts_registered">{{device_info_to_render.ts_registered}}</p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="col-md-10 pt-5">
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        CLI command
                    </label>
                    <input id="cli_input" type="input" class="form-control" id="input_id">
                </div>
                <br>
                <button id="cli_button" class="btn btn-primary" style="margin-bottom: 20px;">
                    Send
                </button>

                <br>
                <p>Result</p>
                <p id="cli_result">
                    Lorem ipsum dolor sit amet,in massa magna, adssdf sdf dsf ds
                    vulputate nec bibendum nec, posuere nec laculiquam mi erat, aliquam vel luctus eu,
                    pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
                </p>
            </div>
        </div>

        <!-- second column on page-->
        <div class="col-md-6 p-1 bg-light text-white">
            <figure class="highcharts-figure">
                <div id="chart-div1"></div>
            </figure>
            <figure class="highcharts-figure">
                <div id="chart-div2"></div>
            </figure>
        </div>
    </div>

</div>



<!-- <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown">
        Device_Actions
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item disabled" href="#">Action</a> <a class="dropdown-item" href="#">Another
            action</a> <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div> -->


{% endblock %}