{% extends 'dash_base_template.html' %}
{% block header_content %}

<script type="text/javascript">
    var client_name_from_flask = '{{ client_name }}'
</script>

<script src="/static/js/chart1.js"></script>
<!-- <script src="/static/js/cli.js"></script> -->

{% endblock %}

{% block page_content %}
<p>This is the main dashboard page for device {{client_name}}</p>

<div class="row">
    <div class="col p-3 bg-light text-white">
        <figure class="highcharts-figure">
            <div id="chart-div1"></div>
        </figure>
    </div>
</div>

<div class="row">
    <div class="col p-3 bg-light text-white">
        <figure class="highcharts-figure">
            <div id="chart-div2"></div>
        </figure>
    </div>
</div>

<div class="container-fluid">



    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-4">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            CLI command
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">
                        Send
                    </button>
                </form>         
            </div>
        </div>
    </div>
</div>



{% endblock %}