<style>
    .logout-nav {
        position: absolute;
        right: 10px;
        top: 6px;
        width: 90px;
    }

    content {
        background-color: #ff6347
    }
</style>


<div id="content" style="width:100%">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span></span>
                </button>
                <button type="button" class="btn btn-info logout-nav" onclick="window.location.href='/logout'">
                    Log out
                </button>
            </div>
        </div>
    </nav>

    <div id="dashboard_subpage">
        <h4>Three equal width columns</h4>

        <div class="row">
            <div class="col p-3 bg-light text-white">
                <figure class="highcharts-figure">
                    <div id="chart-div1"></div>
                </figure>
            </div>
        </div>


        <div class="row">
            <div class="col p-3 bg-light text-white">
                <figure class="highcharts-figure">
                    <div id="chart-div2"></div>
                </figure>
            </div>
        </div>


        <div class="row">
            <div class="col p-3 bg-primary text-white">.col</div>
        </div>


        <div id="dashboard_page_content">
            <p>some dummy content here</p>
        </div>


    </div>
</div>

</div>