<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="static/css/ml_style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <!-- <img src="" alt="logo"> -->
            <span class="logo_name">brand Name</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="dashboard" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="sms-panel">
                    <i class='bx bx-box'></i>
                    <span class="links_name">sms panel</span>
                </a>
            </li>
            <li>
                <a href="mashin-panel">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">mashins panel</span>
                </a>
            </li>
            <li>
                <a href="call-panel">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">call panel</span>
                </a>
            </li>
            <li>
                <a href="more">
                    <i class='bx bx-coin-stack'></i>
                    <span class="links_name">More</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Dashboard</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
            <div class="profile-details">
                <!--<img src="images/profile.jpg" alt="">-->
                <span class="admin_name">Mehdi Abolfathi</span>

            </div>
        </nav>
        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">sms</div>
                        <div class="number">14</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fas fa-sms"></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">calls</div>
                        <div class="number">2</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fas fa-phone"></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">mashins</div>
                        <div class="number">2</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fas fa-walkie-talkie"></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">more</div>
                        <div class="number">....</div>
                        <div class="indicator">
                            <i class='bx bx-down-arrow-alt down'></i>
                            <span class="text">Down From Today</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        </div>
    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function() {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>

</body>

</html>