<div class="sidebar">
    <div class="logo-details">
        <!-- <img src="" alt="logo"> -->
        <span class="logo_name">brand Name</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="dashboard" class="active">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="sms-panel">
                <i class='bx bx-box'></i>
                <span class="links_name">sms panel</span>
            </a>
        </li>
        <li>
            <a href="mashin-panel">
                <i class='bx bx-list-ul'></i>
                <span class="links_name">mashins panel</span>
            </a>
        </li>
        <li>
            <a href="call-panel">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">call panel</span>
            </a>
        </li>
        <li>
            <a href="more">
                <i class='bx bx-coin-stack'></i>
                <span class="links_name">More</span>
            </a>
        </li>
    </ul>
</div>