<nav id="sidebar">
	<div class="sidebar-header">
		<h3><a href="/dashboard">Dashboard</a></h3>
	</div>

	<ul class="list-unstyled components">

		<li>
			<a href="/">
				<i class="glyphicon glyphicon-home"></i> Q-Lines Dashboard
			</a>
		</li>

		<li>
			<a href="#" onclick="load_page1()">
				<i class="glyphicon glyphicon-wrench"></i> Page 1
			</a>
		</li>

		<li>
			<a href="#" onclick="load_page2()">
				<i class="glyphicon glyphicon-wrench"></i> Page 2 - charts
			</a>
		</li>


		<li>
			<a href="#">
				<i class="glyphicon glyphicon-wrench"></i> Settings
			</a>
		</li>

		<li>
			<a href="#">
				<i class="glyphicon glyphicon-log-out"></i> Log out
			</a>
		</li>

	</ul>
</nav>


