<!DOCTYPE html>
<html>

<head>
    <script>
        //container is the selected element into which the content is to be loaded
        var container = document.querySelector('#content'),
            //these are the selectors for your links
            linkHome = document.querySelector('#link__home'),
            linkPage1 = document.querySelector('#link__page1');
        //function that loads content
        function loadContent(content) {
            // AJAX request
            var xhr = new XMLHttpRequest();
            xhr.open('POST', content, true);
            xhr.onload = function () {
                var el = document.createElement('div');
                el.innerHTML = this.response;
                container.empty()
                container.prepend(el);
            }
            xhr.send();
        }
        //After clicking the selector it will start the function loading the content. Enter the URL to your files in the appropriate place
        linkHome.addEventListener('click', function (e) {
            loadContent('./page1.html');
            e.preventDefault();
        });
        linkPage1.addEventListener('click', function (e) {
            loadContent('./page2.html');
            e.preventDefault();
        });

    </script>
</head>
<body>
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <!-- Add to your links ID attribure -->
                <a id="link__home" href="#">Home</a>
            </li>

            <li>
                <!-- Add to your links ID attribure -->
                <a id="link__page1" href="#">Page1</a>
            </li>
        </ul>
    </nav>
</body>
</html>