<script src="https://code.highcharts.com/highcharts.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<figure class="highcharts-figure">
    <div id="container3"></div>
</figure>

<script>

    var chartdata = [];
    var chartname = '';
    function processData(data_received) {
        var data = data_received.data;
        for (var i = 0; i < data.length; i++) {
            chartdata.push([
                Date.parse(data[i][1]), data[i][2]
            ])
        }
        chartname = data_received.name;
    };

    function plotCharts() {
        Highcharts.chart('container3', {

            chart: {
                events: {
                    load: function () {
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.round(Math.random() * 100);


                            fetch_newdata(series);

                        }, 500);
                    }
                }
            },

            time: {
                useUTC: false
            },

            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%e. %b',
                    week: '%e. %b',
                    month: '%b \'%y',
                    year: '%Y'
                }
            },

            series: [{
                name: chartname,
                data: chartdata
            }]
        });
    };


    function fetchdata() {
        request_params = {
            client_name: 'cpe1',
            param_name: 'param1',
            table_name: 'table1',
            ts_start: '',
            ts_end: '',
        };

        $.getJSON('/fetchdata', request_params, function (data_received) {
            //console.log('received from be', data_received);
            processData(data_received);
            plotCharts();
        });
    };


    function fetch_newdata(series) {
        $.ajax({
            url: "/fetchdata",
            data: {
                client_name: 'cpe1',
                param_name: 'param1',
                table_name: 'table1',
                single_data: true,
                ts_start: '',
                ts_end: '',
            },
            dataType: 'json',
            success: function (response) {
                //temp = parseFloat(((raw.main.temp) - 273.15).toPrecision(4))
                date = Date.now()
                //data_.push([date, temp])
                //response=JSON.parse(response);
                console.log('response is: ', response.data)
                //var datax = response.data;
                x = Date.parse(response.data[0][1])
                y = response.data[0][2]
                console.log('data member is: ', response.data[0][2])

                //plot_chart()
                var index = series.xData.indexOf(x)
                console.log('# index', index)
                if (y != null && index == -1) {
                    series.addPoint([x, y], true, true, false);
                }
            }
        })
    };


    $(document).ready(function () {
        fetchdata();
    });

</script>